{{>layouts/header}}
<h1>회원가입</h1>
<form class="container" action="/join" method="post">
    <div class="mb-3">
        <label class="form-label">닉네임</label>
        <input type="text" class="form-control" name="nickname">
    </div>
    <div class="mb-3">
        <label class="form-label">이메일</label>
        <input type="email" class="form-control" name="email">
    </div>
    <div class="mb-3">
        <label class="form-label">비밀번호</label>
        <input type="password" class="form-control" name="pswd">
    </div>
    <button type="submit" class="btn btn-primary">가입</button>
    <a href="/" class="btn btn-sm btn-outline-success">뒤로</a>

</form>
{{>layouts/footer}}