{{>layouts/header}}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nickname</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      {{#member}} {{!모델에 등록한 member Entity 출력}}
      <tr>
        <th>{{id}}</th>
        <td>{{nickname}}</td>
        <td>{{email}}</td>
      </tr>
      {{/member}}
    </tbody>
  </table>
  <a href="/articles/{{member.id}}/edit" class="btn btn-priamary">Edit</a>
  <a href="/members">Go to member list</a>
{{>layouts/footer}}