{{>layouts/header}}
<h1>Articles</h1>
<h2>상세페이지</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
      </tr>
    </thead>
    <tbody>
      {{#article}} {{!모델에 등록한 article Entity 출력}}
      <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
      </tr>
      
    </tbody>
  </table>
  <a href="/articles/{{id}}/edit" class="btn btn-primary">Edit</a>
  <a href="/articles/{{id}}/delete" class="btn btn-sm btn-outline-danger">Deletes</a>
  <a href="/articles" class="btn btn-sm btn-outline-success">Go to Article List</a>
  {{/article}}
{{>comments/_comments}}<!--상세 페이지에 댓글 뷰 파일 삽입-->
{{>layouts/footer}}